<div class="row" style="padding-top: 10px">
<h2> Real Time </h4>
<% @sensors.each do |sensor| %>
  <div class="span6">

    <div class="" style="max-width: 300px; padding: 19px 29px 29px; margin: 0 auto 20px; background-color: #fff; border: 1px solid #e5e5e5; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05); box-shadow: 0 1px 2px rgba(0,0,0,.05);">
      <h3> <%= sensor['name'] %> </h3>
      <h4> Temp: <%= sensor['temp'] %> &#8451</h4>
      <h4> Humidity: <%= sensor['hum'] %> </h4>

    </div>
  </div>
<% end %>
</div>
